body{
  background-color: rgb(39, 38, 38);
  font-family: sans-serif;
}

h1{
  background-color: rgb(17, 17, 41);
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 70%;
  margin: 30px 0 0px 175px;
  padding: 10px;
}
h1:hover{
  background-color: rgb(40, 40, 60);
}